h2,h3 {
	
			front-size: 30px;
			margin-left: 30px;
			
		}
		h1{
			font-size:50px;
			 color:darkgreen;
			 }
			 img{
			 	height: auto;
			 	width: 60%;
			 	
			 }
			 body{
			 	width: 200%;
			 	background-image: url(backgroundimage.png);
			 	background-size: 100%;
			 	background-repeat: no-repeat;
			 }
			.social-media{
				width: 150px;
				height: 100px;
				position: fixed;
				right:  2px;
			}
			 	
			 .social{
			 	width: 40px;
			 	height:40px;
			 	margin: 1px;

			    display: inline-block;

			 }
			#personal-image
			 {
			 	width:500px;
			 	height:auto;
			 	border-radius: 50%;
			 }
			 #s-m
			 {
			 	border-top: 2px solid black;
			 }
			 .header {
			 	height: 70px;
			 	width: 200%;
			 	background-color: powderblue;
			 	font-size: 50px;
			 	box-sizing: border-box;
			 	padding-left: 500px;
			 }
			 .cs {
			 	height: auto;
			 	width: 500px;
			 	margin: 10px;
			 	display: inline-block;
			 }
			 .videos{
			 	width: 25%;
			 	height: auto;
			 	display: inline-block;
			 	float: left;
			 	
			 }
			 .aman{
			 	width: 1000px;

			 }
			 .videos img{
			 	display: inline-block;
			 }
			 .clearfix{
			 	content: "";
			 	display: table;
			 	clear: both;

			 }
			 .other-videos{
			 	width: 500px;
			 	margin: 5px 50px;
			 display: inline-block;

			 }
			 .j{
			 	width: 700px;
			 	margin: 5px 30px;
			
			 }
